@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    margin: 0 auto; /* 0 = up & down | auto = left & right*/
}

.header{
    width: 100%;
    margin: 0 auto;
    background-color: #363636;

    display: flex;
    align-items: center;

    /*Sticky Header*/
    position: fixed;
    top: 0;
}

.logo{
    width: 45%;
}

.logo > img{
    width: 100%;
    margin: 4px;
}

/*Menu*/

.menu{
    width: 55%;
    position: relative;
} 

.menu >ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.menu li{
    display: inline-block;
    list-style: none;
    line-height: 40px;

}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

/*Sub Menu*/

.menu > ul ul{
    display: none;
}

.menu > ul >li:hover >ul {
    display: block;
    background-color: #363636;
    width: 80px;
    position: absolute;
    top: 40px;
}

/*Slider*/


.slider{
    width: 100%;
    height: 100%;
    background-image: url("../img/art2.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /*Parallax Effect*/
    background-attachment: fixed;
}

.slider-title{
    width: 70%;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 60px;
}

.slider-subtitle{
    width: 60%;
    margin: 0 auto;
}

.slider-title > p {
    text-align: center;
    font-family: 'Roboto Slab',serif;
    font-size: 35px;
    color: white;
}

.slider-subtitle > p {
    text-align: center;
    font-family: 'Quicksand',sans-serif;
    font-size: 25px;
    color: rgb(243,237,237);
    padding-bottom: 25px;
}
 /*Main*/
.main{
    width: 100;
    margin: 0 auto;
    padding: 40px 25px;
}

.main-title{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.main-title > h1{
    font-family: 'Roboto Slab',serif;
}

.main-text{
    width: 100%;
    margin: 0 auto;
}

.main-text p {
    font-family: 'Quicksand',sans-serif;
    line-height: 25px;
}

/*Footer*/

.footer{
    width: 100%;
    margin: 0 auto;
    padding: 30px 20px;
    background-color: #363636;
    display: flex;
    align-items: center;
}

.copyright{
    width: 85%;
    font-family: 'Quicksand',sans-serif;
    font-size: 0.8rem;
    color:white;
    float: left;
}

.social{
    width: 60%;
    float: right;
    display: flex;
    align-items: center;
}

.social > p{
    margin-right: 10px;
    font-family: 'Quicksand',sans-serif;
    font-size: 0.8rem;
    color: white;
}

.social .fab{
     font-size: 30px;
     color: #e4e4e4;
     padding: 4px;
}
